@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h3 class="display-5" id="what-is-the-db" >What is the database?</h3>
</div>
<div class="row mt-4">
    <div class="col-3">
        <div class="menu">
            <h5 class="display-5 text-center">Menu</h5>
            <ul>
                <li><a href="#what-is-the-db">What is the database</a> </li>
                <li><a href="#how-to-use">How to use the database</a>
                    <ul>
                        <li><a href="#">Finding Resources</a></li>
                        <li><a href="#">Adding Resources</a></li>
                    </ul>
                </li>
                <li><a href="#">Getting Started</a></li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <p>Welcome to the Monroe Community Resources Database! This is a collection of local and nearby resources tailored to meet the needs of the clients we serve. The database is dynamic so as resources change over time, the database can be updated to reflect current information. As you learn about new services in the community, they can be vetted and added, too</p>
        <p>
            The intention behind creating this database is to help our team more efficiently find relevant community services and referrals for our clients and then effectively connect clients with the resource. No more googling and finding awesome resources located in the other Washington or scouring your file cabinet for brochures and business cards: now you can quickly search the database even with a client in session or over the phone and share the information right away.
        </p>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <h3 class="display-5" id="how-to-use" >How to use the database?</h3>
        <p>
            Each resource is organized into a Category, which is further divided into subcategories. The "Category" link at the top will take you the the main categories section.  From there, you can search through the subcategories to get a feel for how the information is organized.
        </p>
        <p>
            "Tags" are keywords used to group resources together in other ways that are useful.  You can view an index of all the tags in the "Tags" secion.  
        </p>
    </div>
</div>
